@page "/blockchain/address"
@page "/blockchain/address/{addr}"
@layout BlockchainLayout
@inherits BlockchainComponentBase
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value=@PageTitle />
<PageContainer Title=@PageTitle>
    <ChildContent>
        <GridRow Class="row">
            <GridCol Class="col" Span="4">
            </GridCol>
            <GridCol Class="col" Span="16">
                <Search Placeholder="@UIHelper.LocalString("输入地址","input address")" Size="@InputSize.Large" EnterButton="@UIHelper.LocalString("查看区块","View Block")" @bind-Value="@this.addr" OnSearch="OnSearch" />
            </GridCol>
            <GridCol Class="col" Span="4">
            </GridCol>
        </GridRow>
        <GridRow Class="row">
            @if (this.AccountState.IsNotNull() && this.AccountState.Balances.IsNotNullAndEmpty())
            {
                <GridCol Span="8">

                    <ul>
                        <li>
                            @UIHelper.LocalString("地址","Address"): <Text Code>@this.AccountState.ScriptHash.ToAddress()</Text>
                    </li>
                </ul>
                <Divider />
            </GridCol>
                <GridCol Span="24">
                    @foreach (var refer in this.AccountState.Balances.OrderByDescending(m => m.Key == Blockchain.OXS).ThenByDescending(m => m.Key == Blockchain.OXC))
                    {
                        var assetState = Blockchain.Singleton.CurrentSnapshot.Assets.TryGet(refer.Key);
                        if (assetState.IsNotNull())
                        {
                            <ul>
                                <li>
                                    @UIHelper.LocalString($"资产名称:{assetState.GetName()}",$"Asset Name:{assetState.GetName()}")
                            </li>
                            <li>
                                    @UIHelper.LocalString($"资产Id:{refer.Key.ToString()}",$"Asset Id:{refer.Key.ToString()}")
                            </li>
                            <li>
                                @UIHelper.LocalString($"余额:{refer.Value}",$"Balance:{refer.Value}")
                            </li>
                        </ul>
                        <Divider />
                        }
                    }
                </GridCol>
            }
        </GridRow>
    </ChildContent>
</PageContainer>
<style>
    .col {
        text-align: center;
    }

    .row {
        margin-bottom: 20px;
    }
</style>