@page "/blockchain/explorer"
@page "/blockchain/explorer/{blockindex}"
@layout BlockchainLayout
@inherits BlockchainComponentBase
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value=@PageTitle />
<PageContainer Title=@PageTitle>
    <ChildContent>
        <GridRow Class="row">
            <GridCol Class="col" Span="8">
                <Button Type="@ButtonType.Primary" OnClick="Previous">@UIHelper.LocalString("< 上一个","< Previous")</Button>
            </GridCol>
            <GridCol Class="col" Span="8">
                <Search Placeholder="@UIHelper.LocalString("输入区块高度","input block index")" Size="@InputSize.Large" EnterButton="@UIHelper.LocalString("查看区块","View Block")" @bind-Value="@this.blockindex" OnSearch="OnSearch" />
            </GridCol>
            <GridCol Class="col" Span="8">
                <Button Type="@ButtonType.Primary" OnClick="Next">@UIHelper.LocalString("下一个 >","Next >")</Button>
            </GridCol>
        </GridRow>
        <GridRow Class="row">
            @if (this.block.IsNotNull())
            {
                <GridCol Span="8">

                    <ul>
                        <li>
                            @UIHelper.LocalString("区块时间","Block Time"): <Text Code>@this.block.Timestamp.ToDateTime().ToLongTimeString()</Text>
                    </li>
                    <li>
                        @UIHelper.LocalString("区块随机数","Block Nonce"): <Text Code>@this.block.ConsensusData</Text>
                    </li>

                </ul>
            </GridCol>
                <GridCol Span="24">
                    <Collapse>
                        @{
                            int i = 0;
                            foreach (var tx in this.block.Transactions)
                            {
                                if (tx.Type != Network.P2P.Payloads.TransactionType.MinerTransaction)
                                {
                                    var s = $"{tx.Type.ToString()} / {tx.Hash.ToString()}";
                                    <Panel Header="@s" Key="@i.ToString()">
                                        <Collapse>
                                            <Panel Header='@UIHelper.LocalString("输入","Input")'>

                                                @foreach (var refer in tx.References)
                                                {
                                                    <ul>
                                                        <li>
                                                            @UIHelper.LocalString($"地址:{refer.Value.ScriptHash.ToAddress()}",$"Address:{refer.Value.ScriptHash.ToAddress()}")
                                                        </li>
                                                        <li>
                                                            @UIHelper.LocalString($"资产Id:{refer.Value.AssetId.ToString()}",$"Asset Id:{refer.Value.AssetId.ToString()}")
                                                        </li>
                                                        <li>
                                                            @UIHelper.LocalString($"金额:{refer.Value.Value}",$"Amount:{refer.Value.Value}")
                                                        </li>
                                                    </ul>
                                                    <Divider />
                                                }

                                            </Panel>
                                            <Panel Header='@UIHelper.LocalString("输出","Output")'>

                                                @foreach (var output in tx.Outputs)
                                                {
                                                    <ul>
                                                        <li>
                                                            @UIHelper.LocalString($"地址:{output.ScriptHash.ToAddress()}",$"Address:{output.ScriptHash.ToAddress()}")
                                                        </li>
                                                        <li>
                                                            @UIHelper.LocalString($"资产Id:{output.AssetId.ToString()}",$"Asset Id:{output.AssetId.ToString()}")
                                                        </li>
                                                        <li>
                                                            @UIHelper.LocalString($"金额:{output.Value}",$"Amount:{output.Value}")
                                                        </li>
                                                    </ul>
                                                    <Divider />
                                                }
                                            </Panel>
                                        </Collapse>
                                    </Panel>
                                    i++;
                                }
                            }
                        }
                    </Collapse>
                </GridCol>
            }
        </GridRow>
    </ChildContent>
</PageContainer>
<style>
    .col {
        text-align: center;
    }

    .row {
        margin-bottom: 20px;
    }
</style>